<div class="container-fluid change_Pswd">
    <div class="row">
        <form name="cPsdForm">
            <input type="text"      name="email" class="col-sm-12 form-control focus" placeholder="Email" ng-model="reset.email"/>
            <br />
            <input type="password"  name="oldPass" class="col-sm-12 form-control focus" placeholder="Password" ng-model="reset.oldPass"/>
            <br />
            <input type="password"  name="pass"  class="col-sm-12 form-control focus" placeholder="New Password" ng-model="reset.newPassword" />
            <br />
            <input type="password" name="cpass"  class="col-sm-12 form-control focus" placeholder="Confirm New Password" ng-model="reset.cpass" />
            <br />
            <span ng-show="reset.newPassword!=reset.cpass && cPsdForm.pass.$dirty && cPsdForm.cpass.$dirty"><p class="error_notify"> Mismatch new password. </p></span>
            <button class="btn-primary pull-right col-sm-6" ng-click="changePswd()" ng-disabled="reset.newPassword!=reset.cpass">Request Change</button>
        </form>
    </div>
</div>