<div ng-style="{'background-image':'url('+back_img+')'}" style=" background-repeat: no-repeat; height: 90vh; margin-top:0px;">

    <div  class="container-fluid login_div">
        <div class="row" ng-init="invalid_cred=false;" ng-show="invalid_cred">
            <div class="col-sm-12 pull-right"> <p class="error_notify">Login Credentials are invalid. Please try again.</p></div>
        </div>
        <form name="login">
            <div class="row">
                <div class="col-sm-12">
                    <input type="text" name="un" class="form-control focus" placeholder="Phone or email" ng-model="login_cred.username" required />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <input type="password" name="pa" class=" form-control focus" placeholder="Password" ng-model="login_cred.password" required />
                </div>
                <div class="col-sm-4">
                    <button class="btn-primary" ng-click="authUser()" ng-disabled="!(login.un.$dirty && login.pa.$dirty)">Login</button>
                </div>
            </div>
        </form>
    </div>

    <div  class="container-fluid signup_div">
        <div class="row">
            <p style="display: inline; font-weight: bolder">New to Twitter?</p> Sign up
        </div>
        <form name="signup">
        <div class="row col-sm-12">
            <input type="text" name="nm" class="form-control focus" placeholder="Full Name" ng-model="new_user.name" required/>
        </div>
        <div class="row col-sm-12">
            <input type="email" name="em" class="form-control focus" placeholder="Email" ng-model="new_user.email" required/>
        </div>
        <div class="row col-sm-12">
            <input type="tel" name="ph" class="form-control focus" placeholder="Contact Number" ng-model="new_user.phone" required />
        </div>
        <div class="row col-sm-12">
            <input type="password" name="pa" class="form-control focus" placeholder="Password" ng-model="new_user.password" required/>
        </div>
        <div class="row col-sm-12">
            <button class="btn-info pull-right" ng-click="addUser()" ng-disabled="!(signup.nm.$dirty && signup.em.$dirty && signup.ph.$dirty && signup.pa.$dirty)" >Sign up for Twitter</button>
        </div>
        </form>
    </div>
    </div>

</div>