<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">POST NEW TWEET</h4>
        </div>
        <div class="modal-body">
            <textarea rows="5" cols="400" class="col-sm-12 form-control focus" ng-model="tweetdata.message"></textarea>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" ng-click="postNewTweet()">Post New Tweet</button>
            <button type="button" class="btn btn-danger" ng-click="discard()">Discard</button>
        </div>
    </div>
</div>